# dependencies
.idea

/server/node_modules
/server/.pnp
/server/.pnp.js


/client/.env
/client/node_modules
/client/build
/client/.pnp
/client/.pnp.js
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/coverage
